@model IEnumerable<Konsultimet>
<div class="row pb-3">
    @foreach (var konsultimet in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow border-top border-5 rounded">
                        <h1 class="text-center">Konsultim</h1>
                        <div class="card-body pb-0">
                            <div class="pl-1">
                                <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@konsultimet.Ktitle</p>
                                <p class="card-title text-warning text-center">nga <b>@konsultimet.Lid.Lname</b></p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center">
                                  @konsultimet.Kpershkrimi
                                </p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center">Nga ora: 
                                    <span>@konsultimet.KkohaEFillimit</span> deri ne ora: 
                                    <span>@konsultimet.KkohaEMbarimit</span></p>
                            </div>
                            <div>
                                <a asp-action="Details" asp-route-id="@konsultimet.Kid" class="btn btn-primary br-gradient border-0 form-control">
                                    Details
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   }
</div>